Repository kubernetes-sigs/azurefile-csi-driver, pull requests merged in 2020-12, with the labels that each got.

#483 fix: return error for creating raw block volume(not supported)
  pkg/azurefile/controllerserver.go
  pkg/azurefile/controllerserver_test.go
  test/integration/run-test.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, size/M

#490 fix: build windows image error
  Makefile
Labels: approved, cncf-cla: yes, kind/bug, size/XS

#487 feat: add mfsymlinks mountOption as default
  deploy/example/storageclass-azurefile-csi-mountoptions.yaml
  deploy/example/storageclass-azurefile-csi.yaml
  deploy/example/storageclass-azurefile-existing-share.yaml
  deploy/example/storageclass-azurefile-secret.yaml
  pkg/azurefile/azurefile.go
  pkg/azurefile/azurefile_test.go
Labels: approved, cncf-cla: yes, kind/feature, size/M

#491 fix: Windows image build temp failure
  Makefile
Labels: approved, cncf-cla: yes, kind/bug, size/XS

#492 refactor: appendDefaultMountOptions to use map
  pkg/azurefile/azurefile.go
  pkg/azurefile/azurefile_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, size/M

#497 test: remove buildkit workaround
  Makefile
Labels: approved, cncf-cla: yes, kind/test, size/XS

#501 chore: remove unnecessary permissions from external snapshotter role
  charts/latest/azurefile-csi-driver/templates/rbac-csi-azurefile-controller.yaml
  deploy/rbac-csi-azurefile-controller.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, size/S

#505 test: refine sanity test script
  go.mod
  test/sanity/run-test.sh
  test/sanity/run-tests-all-clouds.sh
  vendor/modules.txt
Labels: approved, cncf-cla: yes, kind/test, size/M

#507 test: add statefulset e2e test
  test/e2e/dynamic_provisioning_test.go
  test/e2e/suite_test.go
  test/e2e/testsuites/dynamically_provisioned_statefulset_tester.go
  test/e2e/testsuites/specs.go
  test/e2e/testsuites/testsuites.go
Labels: approved, cncf-cla: yes, kind/test, lgtm, ok-to-test, size/L

#506 test: run v4.0.2 sanity test
  pkg/azurefile/controllerserver.go
  pkg/azurefile/nodeserver.go
  pkg/azurefile/nodeserver_test.go
  test/sanity/run-tests-all-clouds.sh
Labels: approved, cncf-cla: yes, kind/test, size/M

#508 feat: support arbitrary volume id
  pkg/azurefile/azurefile.go
  pkg/azurefile/azurefile_test.go
  pkg/azurefile/controllerserver.go
  pkg/azurefile/controllerserver_test.go
  pkg/azurefile/nodeserver.go
  pkg/azurefile/nodeserver_test.go
Labels: approved, cncf-cla: yes, kind/feature, size/L

#509 chore: improve NodeStageVolume logging
  hack/release-image.sh
  pkg/azurefile/nodeserver.go
Labels: approved, cncf-cla: yes, kind/cleanup, size/S
