Repository kubernetes-sigs/azurefile-csi-driver, pull requests merged in 2020-06, with the labels that each got.

#300 feat: add storage account private link support
  deploy/example/pv-azurefile-csi.yaml
  deploy/example/storageclass-azurefile-csi-mountoptions.yaml
  deploy/example/storageclass-azurefile-existing-share.yaml
  docs/driver-parameters.md
  pkg/azurefile/azurefile.go
  pkg/azurefile/nodeserver.go
Labels: approved, cncf-cla: yes, kind/feature, size/S

#299 Tests: Add Controller server tests
  pkg/azurefile/controllerserver_test.go
Labels: approved, cncf-cla: yes, kind/test, lgtm, ok-to-test, size/XXL

#301 doc: fix volumeid doc
  deploy/example/pv-azurefile-csi.yaml
  docs/driver-parameters.md
Labels: approved, cncf-cla: yes, size/XS

#302 fix: remove secret logging in NodeStageVolume
  .github/PULL_REQUEST_TEMPLATE.md
  pkg/azurefile/nodeserver.go
Labels: approved, cncf-cla: yes, kind/bug, size/XS

#304 doc: rename storage class to azurefile-csi
  deploy/example/deployment.yaml
  deploy/example/disk/README.md
  deploy/example/disk/pvc-azurefile-disk.yaml
  deploy/example/disk/statefulset-stress.yaml
  deploy/example/disk/storageclass-azurefile-csi.yaml
  deploy/example/disk/storageclass-azurefile-existing-disk.yaml
  deploy/example/pvc-azurefile-csi.yaml
  deploy/example/resize/README.md
  deploy/example/storageclass-azurefile-csi-mountoptions.yaml
  deploy/example/storageclass-azurefile-csi.yaml
  deploy/example/storageclass-azurefile-existing-share.yaml
  deploy/example/windows/deployment.yaml
Labels: approved, cncf-cla: yes, kind/documentation, size/S

#306 feat: Implement NodeGetVolumestats feature
  pkg/azurefile/nodeserver.go
  pkg/azurefile/nodeserver_test.go
  test/sanity/run-test.sh
Labels: approved, cncf-cla: yes, kind/feature, lgtm, size/L

#308 Delete common crd-csi-node-info.yaml and fix usage of helm3
  charts/README.md
  charts/latest/azurefile-csi-driver/templates/crd-csi-node-info.yaml
  charts/v0.6.0/azurefile-csi-driver-v0.6.0.tgz
  charts/v0.6.0/azurefile-csi-driver/templates/crd-csi-node-info.yaml
  charts/v0.7.0/azurefile-csi-driver-v0.7.0.tgz
  charts/v0.7.0/azurefile-csi-driver/templates/crd-csi-node-info.yaml
  deploy/crd-csi-node-info.yaml
  deploy/install-driver.sh
  deploy/uninstall-driver.sh
  deploy/v0.6.0/crd-csi-node-info.yaml
  deploy/v0.7.0/crd-csi-node-info.yaml
Labels: approved, cncf-cla: yes, kind/documentation, kind/test, lgtm, ok-to-test, size/L

#309 test: add multiple PVs e2e tests
  test/e2e/dynamic_provisioning_test.go
  test/e2e/testsuites/dynamically_provisioned_pod_with_multiple_pv.go
  test/e2e/testsuites/specs.go
Labels: approved, cncf-cla: yes, kind/test, size/M

#310 test: fixed multiple PVs e2e test issue
  test/e2e/dynamic_provisioning_test.go
Labels: approved, cncf-cla: yes, kind/test, size/XS

#298 fix: switch to use management sdk
  pkg/azurefile/azurefile.go
  pkg/azurefile/azurefile_test.go
  pkg/azurefile/controllerserver.go
  pkg/azurefile/controllerserver_test.go
  test/e2e/testsuites/testsuites.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, size/L

#315 test: disable multiple PV test on in-tree driver
  test/e2e/dynamic_provisioning_test.go
Labels: approved, cncf-cla: yes, kind/test, size/XS

#317 doc: fix private link docs
  deploy/example/pv-azurefile-csi.yaml
  deploy/example/storageclass-azurefile-existing-share.yaml
  docs/driver-parameters.md
  pkg/azurefile/nodeserver.go
Labels: approved, cncf-cla: yes, kind/documentation, size/S

#316 test: Add tests for csicommon/server
  pkg/azurefile/azurefile.go
  pkg/azurefile/azurefile_test.go
  pkg/azurefileplugin/main.go
  pkg/csi-common/server.go
  pkg/csi-common/server_test.go
  pkg/csi-common/utils.go
  test/e2e/suite_test.go
Labels: approved, cncf-cla: yes, kind/test, lgtm, ok-to-test, size/L

#320 tsst: fix in-tree e2e tests failure
  test/e2e/testsuites/testsuites.go
Labels: approved, cncf-cla: yes, size/XS

#321 Update cloud provider
  go.mod
  go.sum
  pkg/azurefile/controllerserver.go
  pkg/azurefile/controllerserver_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-04-01/containerservice/agentpools.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-04-01/containerservice/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-04-01/containerservice/containerservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-04-01/containerservice/managedclusters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-04-01/containerservice/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-04-01/containerservice/openshiftmanagedclusters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-04-01/containerservice/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-04-01/containerservice/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2017-05-10/resources/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2017-05-10/resources/deploymentoperations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2017-05-10/resources/deployments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2017-05-10/resources/groups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2017-05-10/resources/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2017-05-10/resources/providers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2017-05-10/resources/resources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2017-05-10/resources/tags.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2017-05-10/resources/version.go
  vendor/k8s.io/cloud-provider/cloud.go
  vendor/k8s.io/cloud-provider/go.mod
  vendor/k8s.io/cloud-provider/go.sum
  vendor/k8s.io/cloud-provider/plugins.go
  vendor/k8s.io/cloud-provider/ports.go
  vendor/k8s.io/legacy-cloud-providers/azure/azure.go
  vendor/k8s.io/legacy-cloud-providers/azure/azure_blobDiskController.go
  vendor/k8s.io/legacy-cloud-providers/azure/azure_controller_standard.go
  vendor/k8s.io/legacy-cloud-providers/azure/azure_controller_vmss.go
  vendor/k8s.io/legacy-cloud-providers/azure/azure_file.go
  vendor/k8s.io/legacy-cloud-providers/azure/azure_instances.go
  vendor/k8s.io/legacy-cloud-providers/azure/azure_managedDiskController.go
  vendor/k8s.io/legacy-cloud-providers/azure/azure_storage.go
  vendor/k8s.io/legacy-cloud-providers/azure/azure_storageaccount.go
  vendor/k8s.io/legacy-cloud-providers/azure/clients/containerserviceclient/azure_containerserviceclient.go
  vendor/k8s.io/legacy-cloud-providers/azure/clients/containerserviceclient/doc.go
  vendor/k8s.io/legacy-cloud-providers/azure/clients/containerserviceclient/interface.go
  vendor/k8s.io/legacy-cloud-providers/azure/clients/deploymentclient/azure_deploymentclient.go
  vendor/k8s.io/legacy-cloud-providers/azure/clients/deploymentclient/doc.go
  vendor/k8s.io/legacy-cloud-providers/azure/clients/deploymentclient/interface.go
  vendor/k8s.io/legacy-cloud-providers/azure/clients/fileclient/azure_fileclient.go
  vendor/k8s.io/legacy-cloud-providers/azure/clients/fileclient/interface.go
  vendor/k8s.io/legacy-cloud-providers/azure/clients/fileclient/mockfileclient/interface.go
  vendor/k8s.io/legacy-cloud-providers/azure/clients/securitygroupclient/azure_securitygroupclient.go
  vendor/k8s.io/utils/mount/mount_windows.go
  vendor/k8s.io/utils/path/file.go
  vendor/k8s.io/utils/trace/README.md
  vendor/k8s.io/utils/trace/trace.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, kind/feature, size/XXL

#322 fix: use MountSensitive to prevent password logging leak
  pkg/azurefile/azure_common_linux.go
  pkg/azurefile/azure_common_windows.go
  pkg/azurefile/nodeserver.go
Labels: approved, cncf-cla: yes, kind/bug, size/S

#324 test: Add tests for azurefile and controllerserver
  pkg/azurefile/azurefile_test.go
  pkg/azurefile/controllerserver_test.go
  pkg/csi-common/server.go
  pkg/csi-common/server_test.go
Labels: approved, cncf-cla: yes, kind/test, lgtm, ok-to-test, size/XXL
