Repository kubernetes-sigs/azurefile-csi-driver, pull requests merged in 2022-08, with the labels that each got.

#1067 test: fix TestLogGRPC ut failure
  pkg/azurefile/azurefile.go
  pkg/azurefile/controllerserver.go
  pkg/azurefile/fake_mounter.go
  pkg/csi-common/server_test.go
  pkg/mounter/safe_mounter_v1beta_windows.go
  pkg/mounter/safe_mounter_windows.go
Labels: ok-to-test, size/M, lgtm, approved, cncf-cla: yes, kind/test

#1068 cleanup: remove secrets list rbac
  charts/latest/azurefile-csi-driver-v0.0.0.tgz
  charts/latest/azurefile-csi-driver/templates/rbac-csi-azurefile-controller.yaml
  charts/latest/azurefile-csi-driver/templates/rbac-csi-azurefile-node.yaml
  deploy/rbac-csi-azurefile-controller.yaml
  deploy/rbac-csi-azurefile-node.yaml
Labels: kind/cleanup, size/S, approved, cncf-cla: yes

#1070 fix: fixing codespell errors
  .github/workflows/codespell.yml
  pkg/azurefile/utils_test.go
Labels: kind/cleanup, ok-to-test, size/XS, lgtm, approved, cncf-cla: yes

#1069 test: add controllerserver.go unit test
  pkg/azurefile/controllerserver_test.go
Labels: size/L, ok-to-test, lgtm, approved, cncf-cla: yes, kind/test

#1071 test: add nodeserver.go, azurefile.go and azurefile_client.go unit test
  pkg/azurefile/azurefile_client_test.go
  pkg/azurefile/azurefile_test.go
  pkg/azurefile/nodeserver_test.go
Labels: size/L, ok-to-test, lgtm, approved, cncf-cla: yes, kind/test

#1073 doc: remove nconnect mount option
  deploy/example/nfs/README.md
  deploy/example/pv-azurefile-nfs.yaml
  deploy/example/storageclass-azurefile-nfs.yaml
Labels: kind/documentation, size/XS, approved, cncf-cla: yes

#1074 fix: increase sidecar container memory limits on Windows
  charts/README.md
  charts/latest/azurefile-csi-driver-v0.0.0.tgz
  charts/latest/azurefile-csi-driver/values.yaml
  deploy/csi-azurefile-node-windows.yaml
Labels: kind/bug, size/S, approved, cncf-cla: yes

#1072 doc: cut v1.21.0 release
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azurefile-csi-driver-v0.0.0.tgz
  charts/v1.21.0/azurefile-csi-driver-v1.21.0.tgz
  charts/v1.21.0/azurefile-csi-driver/Chart.yaml
  charts/v1.21.0/azurefile-csi-driver/templates/NOTES.txt
  charts/v1.21.0/azurefile-csi-driver/templates/_helpers.tpl
  charts/v1.21.0/azurefile-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.21.0/azurefile-csi-driver/templates/csi-azurefile-controller.yaml
  charts/v1.21.0/azurefile-csi-driver/templates/csi-azurefile-driver.yaml
  charts/v1.21.0/azurefile-csi-driver/templates/csi-azurefile-node-windows.yaml
  charts/v1.21.0/azurefile-csi-driver/templates/csi-azurefile-node.yaml
  charts/v1.21.0/azurefile-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.21.0/azurefile-csi-driver/templates/rbac-csi-azurefile-controller.yaml
  charts/v1.21.0/azurefile-csi-driver/templates/rbac-csi-azurefile-node.yaml
  charts/v1.21.0/azurefile-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.21.0/azurefile-csi-driver/templates/serviceaccount-csi-azurefile-controller.yaml
  charts/v1.21.0/azurefile-csi-driver/templates/serviceaccount-csi-azurefile-node.yaml
  charts/v1.21.0/azurefile-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.21.0/azurefile-csi-driver/values.yaml
  deploy/v1.21.0/crd-csi-snapshot.yaml
  deploy/v1.21.0/csi-azurefile-controller.yaml
  deploy/v1.21.0/csi-azurefile-driver.yaml
  deploy/v1.21.0/csi-azurefile-node-windows.yaml
  deploy/v1.21.0/csi-azurefile-node.yaml
  deploy/v1.21.0/csi-snapshot-controller.yaml
  deploy/v1.21.0/rbac-csi-azurefile-controller.yaml
  deploy/v1.21.0/rbac-csi-azurefile-node.yaml
  deploy/v1.21.0/rbac-csi-snapshot-controller.yaml
  docs/install-azurefile-csi-driver.md
  docs/install-csi-driver-v1.21.0.md
Labels: kind/documentation, approved, cncf-cla: yes, size/XXL

#1076 chore: switch master branch version
  Makefile
Labels: kind/documentation, size/XS, approved, cncf-cla: yes
